/*GLOBAL DECLARATION*/
*{
    border-sizing: border-box;
}

/*REMOVE ALL EXTRA SPACE FROM HTML&BODY*/
body, html{
    margin:0;
    padding:0;
    background-color: #e3f2fd;
    font-size:17px;    
}

/*SET '::SELECTION PROPERTY'*/
::selection{
    background:#0076ff;
    color:white;
}
/*SET BODY TO BEGIN 10VH BELOW HEADER*/
body{
    margin:12vh auto 0;
}

html{
    position :relative;
    height:100%;
    margin:0 auto;
}

/*NAV BAR STYLE*/
nav{
    display:flex;
    width:100%;
    justify-content: Space-between;
    height:10vh;
    font-size:2vh;
    background-color: white ;
    align-items:center;
    color:#0076ff;
    position :fixed;
    font-weight:bold;
    box-shadow:0 0 10px grey;
    top:0;
    left:0;
    text-align:center;
}
/*SET NAV BAR HEIGHT & FONT FOR LARGER SCREEN*/
@media screen and (max-width:450px){
        nav{
            height:10vh;
            font-size:3vh;
        }
    }
    
/*SET EXIT KEY AND HIDDEN KEY TO THE EDGE*/
/*#heading{
    padding:0 25%; 0 25%;*/
}

/*SET RIGHT ICON TO HIDDEN*/


/*STYLE ICON LINKS*/
nav >a, nav >a:hover, nav >a:link, nav >a:visited{
  text-decoration:none;
  color: #0076ff;
  font-size:5vh;
}

.chevron{
    font-size:80px;
}
/*GLOBAL MAKE PAGE IMAGES RESPONSIVE*/
img{
    max-width: 100%;
    height:auto;
}

/*ABOUT BUBBLE*/
.about-container{
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
    margin-bottom: 30px;
    transition-duration: 1s;
} 
.about-container:hover {
     width: 90%;
     box-shadow: 0 10px 16px #0076ff;
}
.about-text{
     padding: 0 15px 15px 15px;
     text-align: center;
}
h2{
     text-align:center;
     color:#0076ff;
}

/*CONTACT BUBBLE SECTION*/
.contact_bubble{
    background-color: #0076ff;
    color:white;
    width:90%;
    margin:0 auto;
    margin-bottom:30px;
    display:block;
    text-align:center;
    border-radius:30px;
}
.contact_bubble >h3{
    padding-top:40px;
    font-size:35px;
    line-height:0;
}
.grey{
    color:#ffffffcb;
    font-size:25px;
}
button{
    margin-bottom:20px;
    width: 200px;
    height: 50px;
    font-size:22px;
    border-radius:15px;
    border:0;
    color:white;
    background-color:#242424;
    padding :5px;
}
button:hover{
    width: 180px;
    height: 50px;
}
.hidden{
    Padding-bottom:1px;
}
