body{
    margin:0;
    padding:0;
    background-color: #ffffff;
    font:32px Atrial, Helvetica,sans-serif;
    color:black;
}

/* Header **/
header{
  background:#ff6e40;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffc13b 9px solid;
}

#branding{
    color:navy;
    padding-left:90px;
    font-size:50px;
}

.box{
    background-color:navy;
    margin:8px;
    padding-top:3px;
    border-radius:5px;
}

.text1{
   font-size:40px;
   text-align:center;
   padding:4;
}

.h2{
    font-size:70px;
    font-weight: bold;
    color:navy;
    text-align: center ;
}

.btn{
    margin-left:400px;
    color:white;
    font-weight:bold;
}

.btn3{
    color:white;
}
